#background {
    margin:auto;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 1;
}
#tree {
    position: absolute;
    top:115px;
    left:0px;
    width: 700px;
    z-index: 3;
}

#pink {
    position: absolute;
    top: 330px;
    left: 400px;
    z-index: 2;
}
#orange{
    position: absolute;
    top: 280px;
    left: 600px;
    z-index: 5;
}
#green{
    position: absolute;
    top: 210px;
    left: 430px;
    z-index: 6;
}
#blue {
    position: absolute;
    top: 220px;
    left: 115px;
    z-index: 7;
}
#red {
    position: absolute;
    top: 330px;
    left: 50px;
    z-index: 8;
}
#darkBlue {
    position: absolute;
    top: 280px;
    left: 300px;
    z-index: 9;
}

div {
    height: 541px;
    width: 700px;;
}