body {
	padding-left:20%;
	padding-right: 20%; /* Exercise 1.4 */
	margin: auto;
}

h1, h2, h3, b, strong {	
	color: Plum;			
}

h1, h3 {
	text-align: center;	
}

h1 {	text-transform: uppercase; } /* Exercise 1.6 */

h2 {
	text-align: right;
	border-bottom: 2px solid LightSlateGray;
}

p {	
	font-family: Georgia, serif;
	color: DarkSlateGray;
	line-height: 1.5; /* Exercise 1.4 */
	text-align: justify;	/* Exercise 1.4 */
}

hr {
	border: 1px dotted LightSlateGray;
	width: 50%;		
}

table {
	margin:auto;
}


h3#number1-achievement { color: red;} /* or just #number1-achievement */

p.important { font-style: italic; }