h1, h2 {
    color: #FFF;
}

h2, h3 {
    letter-spacing: 1px;
    line-height: 1em;
}

a, body, input, textarea {
    color: #333;
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article, div, figure, footer, header, li, nav, section {
    position: relative;
}

.group:after {
    display: block;
    height: 0;
    font-size: 0;
    content: ".";
    clear: both;
    visibility: hidden;
}

::-moz-selection {
    background: #333;
    color: #FFF;
}

::selection {
    background: #333;
    color: #FFF;
}

body {
    font-family: tablet-gothic, verdana, arial, sans-serif;
    background: #77C4D3;
    border: 20em;
}

h2, h3 {
    font-family: tablet-gothic-condensed, "arial narrow", arial, verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    background: #EA2E49;
    display: inline-block;
    padding: .5em 1em;
}

h2 {
    font-weight: 900;
    font-size: 6em;
}

h3 {
    font-size: 2.25em;
    font-weight: 200;
    padding: .5em 0 .25em;
}

a {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    text-decoration: none;
    -moz-transition: border-color .2s ease-in-out;
    -ms-transition: border-color .2s ease-in-out;
    -o-transition: border-color .2s ease-in-out;
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
}

a:hover {
    border-color: #EA2E49;
}

div.explanation p a, div.participation p a, section.intro div.summary p a {
    color: #FFF;
}

div.participation p a:hover {
    border-color: #FFF;
}

li, p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    padding: .5em 0;
}

div.requirements p:last-child, h1, section.intro div.summary p {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.requirements p:last-child, section.intro div.summary p:last-child {
    border-top: 1px solid #EA2E49;
    margin-top: 1em;
    padding-top: 1.5em;
}

html, section.intro {
}

em, strong {
    font-style: normal;
    font-weight: 400;
}

html {
    background: #DAEDE2;
}

div.page-wrapper {
    z-index: 2;
    border: 3em solid #DAEDE2;
    padding: 3em;
}

section.intro div.summary {
    color: #FFF;
    padding: 15% 0;
    width: 60%;

}

section.intro div.preamble {
    background: rgba(255, 255, 255, .9);
    color: #333;
    width: 65%;
    margin: 5em 3em 5em -6em;
    padding: 2em 2em 2em 5em;
}

aside.sidebar, footer {
    background: rgba(246, 247, 146, .9);
}

aside.sidebar, div.main {
}

aside.sidebar ul {
    padding: .5em 0 2em;
}

aside.sidebar ul li {
    color: rgba(0, 0, 0, .4);
    list-style: none;
    margin: 0;
    padding: 0 0 .825em;
}

footer {
    clear: both;
    color: #FFF;
    padding: 1em 5%;
    width: 50%;
}

footer a {
    margin-right: .5em;
}

div.explanation {
    color: #FFF;
}

div.participation {
    background: rgba(234, 46, 73, .9);
    color: #FFF;
}

div.benefits, div.requirements {
    background: rgba(255, 255, 255, .9);
}

div.benefits {
}

h2 {
    font-size: 8em;
    width: 60%;
}

section.intro {
}

aside.sidebar {
    right: 0;
    top: 2.5%;
}

div.extra1 {
    background: rgba(51, 55, 69, .9);
    width: 30em;
    height: 60em;
    position: absolute;
    top: 0em;
    right: 0em;
    margin-top: -4em;
    z-index: 1;
    padding: 3em;
}

div.explanation {
    float: left;
    width: 50%;
    padding: 2em;
}

div.participation {
    float: right;
    width: 50%;
    padding: 2em;
}

div.benefits, div.requirements {
}

div.benefits {
    top: 13em;
    float: left;
    width: 25%;
    padding: 2em;
}

div.requirements {
    float: right;

    padding: 2em;
    width: 75%;
}

.sidebar {
    position: absolute;
    top: 6em;
    right: 3em;
    padding: 2em;
}

body {
    font-size: 125%;
}
